<h1>My Orders</h1>

{% for order in orders %}

    <div style="border:1px solid #ccc; padding:20px; margin-bottom:20px;">

        <h3>Order #{{ order.id }}</h3>

        <p>
            Date:
            {{ order.created_at }}
        </p>

        <p>
            Total:
            ${{ order.total_price }}
        </p>

        <h4>Items:</h4>

        <ul>
            {% for item in order.items.all %}
                <li>
                    {{ item.menu_item.name }}
                    x {{ item.quantity }}
                    = ${{ item.price }}
                </li>
            {% endfor %}
        </ul>

    </div>

{% empty %}

    <p>No orders yet.</p>

{% endfor %}