{% extends 'menu/base.html' %}
{% load static %}
{% block title %}Login | BigBurgers{% endblock %}

{% block content %}
<div class="register-container">
    <h2>Welcome Back</h2>

    <form method="POST" class="register-form" action="{% url 'login' %}">
        {% csrf_token %}

        <input class="input-groups" type="text" name="username" placeholder="Username" required>

        <input class="input-groups" type="password" name="password" placeholder="Password" required>

        <button class="login-btn" type="submit">Login</button>
    </form>

    {% for message in messages %}
        <p class="error-text">{{ message }}</p>
    {% endfor %}

    <p class="signup-text">
        Don’t have an account? <a href="{% url 'register' %}">Register</a>
    </p>
</div>
{% endblock %}